<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true">


    <!-- Set environment variables for the Kernel class and database connection -->
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DATABASE_URL" value="mysql://root:@192.168.1.106:3306/symfony_api_2?serverVersion=10.9.3-MariaDB&amp;charset=utf8mb4"/>
        <env name="CORS_ALLOW_ORIGIN" value="*" />
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="123456789jwt"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="0"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="API Integration Tests">
            <directory suffix="Test.php">tests/Integration/Api</directory>
        </testsuite>
    </testsuites>
</phpunit>
